* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  /* background: red; */
  margin: auto;
}
.header {
  width: 100%;
  height: 70px;
  background: orange;
  display: flex;
  justify-content: space-between;
}
.logo {
  flex-basis: 30%;
  /* background: green; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: black;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: aliceblue;
  -webkit-text-fill-color: black; */
}
.menu {
  flex-basis: 70%;
}
.menu ul {
  width: 100%;
  display: flex;
  margin-top: 25px;
  justify-content: space-around;
}
.menu ul li {
  list-style-type: none;
}
.menu ul li a {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  color: black;
}
.menu ul li a:hover {
  color: aliceblue;
}
.footer {
  margin-top: 10px;
  width: 100%;
  height: 139px;
  /* border: 1px solid #000; */
  background: orange;
  text-align: center;
}
.follows {
  padding-top: 30px;
}
.follows a {
  text-decoration: none;
  color: black;
  font-size: 2.2em;
  margin-left: 20px;
  color: royalblue;
}
.footer h3 {
  margin-top: 20px;
}
.footer h3 a {
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
  .header {
    flex-direction: column;
  }
  .logo {
    flex-direction: column;
  }
  .menu ul {
    flex-direction: column;
  }
  
}
